@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=M+PLUS+Rounded+1c&display=swap");
@import "tailwindcss";
@import "tailwindcss-animated";


@layer utilities {
  .font-manrope {
    font-family: "Manrope", sans-serif;
  }

  .font-rounded {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  .bg-light{
    background-color: #F5F5F5;
  }
  .bg-red{
    background-color: #C10007;
  }
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
}

.group-hover\:pause:hover .animate-infinite-scroll {
  animation-play-state: paused;
}


