@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=M+PLUS+Rounded+1c&display=swap");
@import "tailwindcss";
@import "tailwindcss-animated";


@layer utilities {
  .font-manrope {
    font-family: "Manrope", sans-serif;
  }

  .font-rounded {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  .bg-light{
    background-color: #F5F5F5;
  }
  .bg-red{
    background-color: #C10007;
  }
}


